<div class="row">
  <div class="col-md-3 col-sm-12 mb-3" *ngFor="let gif of gifs">
    <div class="card mb-3">
      <img class="card-img-top" [src]="gif.images.downsized_medium.url" alt="Card image cap">
      <div class="card-body bg-dark">
        <h5 class="card-title text-white">
          {{ gif.title }}
        </h5>
        <p class="card-text">
          <small class="text-muted">
            {{ gif.import_datetime }}
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
